body {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  margin: 100px 0 0 100px;
}

a {
  color: #259dff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

.contact {
  margin-top: 50px;
}

@media screen and (max-width: 480px) {
  body { margin: 10px; }
  .contact { margin-top: 10px; }
}
