body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #3E3F3A;
  font-style: normal;
  font-size: 18px;
  margin: 0;
  padding: 10px;
  line-height: 25px;
}

h1, h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

a {
  color: #E74C3C;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

a:hover {
  text-decoration: underline;
}

.main {
  max-width: 500px;
  margin: 80px auto 0 auto;
}

ul.reach-out {
  margin: 0;
  padding: 0 20px;
}

.contacts {
  margin-top: 40px;
}

ul li {
  margin-bottom: 6px;
}

.notice {
  color: #aaa;
  margin: 20px 0;
  font-style: italic;
}

ul.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 680px) {
  .main { margin-top: 10px; }
}
